# IntelliJ IDEA
.idea/
*.iml

# Compiled source
*.class

# Maven
target/

# Gradle
.gradle/
build/

# Logs
logs/
*.log

# OS-specific files
.DS_Store
Thumbs.db

# Environment variable files
.env

# Temporary files
*.swp
*.swo

# Test output
test-output/

# Spring Boot devtools
.spring-boot-devtools
